boto3
cchardet
datasets
dill
fasteners
fasttext
fsspec
huggingface_hub
humanize
inscriptis
lighteval
loguru
moto
multiprocess
nltk
numpy
pyarrow
python_magic
readability_lxml
Requests
rich
s3fs
tldextract
tokenizers
torch
tqdm
warcio
xxhash
